<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zzy.kilinlist.dao.FocusMapper">

    <insert id="insertFocus" parameterType="edu.zzy.kilinlist.bean.Focus">
        insert into focus
        values (#{kilinUserId},#{groupId},#{content}, #{description}, #{date}, #{focusTime}, #{time});
    </insert>
</mapper>