<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!--    数据库配置-->
    <!--    数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://rm-bp10ju74719fp6g4emo.mysql.rds.aliyuncs.com:3306/kilinlist?serverTimezone=GMT%2B8&amp;useSSL=false&amp;allowPublicKeyRetrieval=true"/>
        <property name="username" value="yiyi1333"/>
        <property name="password" value="zzy@15712651279"/>
    </bean>
    <!--    装配SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>
    <!--配置sqlSession-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <!--只能通过构造器注入sqlSessionFactory,因为没有set方法-->
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <bean id="focusService" class="edu.zzy.kilinlist.service.FocusService">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="jsonService" class="edu.zzy.kilinlist.service.JsonService"/>

    <bean id="focusAction" class="edu.zzy.kilinlist.action.FocusAction">
        <property name="focusService" ref="focusService"/>
        <property name="jsonService" ref="jsonService"/>
    </bean>

    <bean id="loginService" class="edu.zzy.kilinlist.service.LoginService">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="loginAction" class="edu.zzy.kilinlist.action.LoginAction">
        <property name="loginService" ref="loginService"/>
    </bean>

    <bean id="classroomService" class="edu.zzy.kilinlist.service.ClassroomService">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="classroomAction" class="edu.zzy.kilinlist.action.ClassroomAction">
        <property name="classroomService" ref="classroomService"/>
    </bean>

    <bean id="rankService" class="edu.zzy.kilinlist.service.RankService">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="rankAction" class="edu.zzy.kilinlist.action.RankAction">
        <property name="rankService" ref="rankService"/>
    </bean>

</beans>